body{
    background-image: url(back.jpg);
    backdrop-filter: blur(2px);
    
}

.msg-box{
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #596c68;
    box-shadow: 10px 5px 5px rgba(89, 108, 104, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #403f48;
    margin-top: 10px;
    font-weight: bold;
    background-color: #e3d9ca;
}

.leave-msg{
    border-radius: 10px;
    background-color: #95a792;
    box-shadow: 10px 5px 5px rgba(149, 167, 146, 0.5);
    width: 800px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #403f48;
    font-weight: bold;
}


