<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="generator" content="GitLab Pages">
    <link href="global.css" rel="stylesheet" type="text/css">

    <title>  ANONYMOUS-MESSAGE-BOARD </title>
  </head>

  <body>
    <center>
      <div class="leave-msg">
        <form action="{{ url_for('index') }}" method="POST">
          YOUR_NAME: <input type="text" name="uname" style="border-radius: 3px; border: 1px solid #403f48; background-color: transparent;"><br>
          <p> 
          MESSAGE: <input type="text" name="msg" style="border-radius: 3px; border: 1px solid #403f48; width: 560px; height: 100px; background-color: transparent;"><br>
          <button style="background-color: transparent; border: 0px; font-weight: bold; color:#403f48;">提交</button>
        </form>
      </div>

      <div class="msg-box">
        <table>
          <thread>
            <th > 用户名 </th>
            <th > 留言 </th>
          </thread>
          <tbody>
            {% for msg in msgs %}
            <tr>
              <td>{{ msg['uname'] }} ：</td>
              <td>{{ msg['msg'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </center>

  </body>    

</html>
